{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %}Adicione uma cafeteria{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8">

            <h1 class="py-3">Adicione uma cafeteria à lista</h1>

            {{ render_form(form, novalidate=True) }}

            <p class="space-above"><a href="{{ url_for('cafes') }}">Ver todas as cafeterias</a></p>

        </div>
    </div>
</div>

{% endblock %}
